@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">Sistema de Registro de Productos</h1>
    <p>Un sistema que permite registrar productos de manera sencilla y rapida</p>
    <p>Para poder acceder a las funcionalidades del sistema, es necesario iniciar sesion</p>
    <a class="btn btn-primary" asp-page="/Account/Login">Iniciar Sesion</a>
</div>